# GitHub
GITHUB_OWNER=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# Keycloak
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

# 서비스 공통
GATEWAY_SECRET=
JWT_SECRET=
ADMIN_SECRET=

# Payment
TOSS_SECRET_KEY=

# Notification
SLACK_BOT_TOKEN=

# Monitoring
SENTRY_DSN=
